
@font-face {font-family: gent; src: url(GentiumPlus400.woff2); font-style: normal; font-weight: normal;}
@font-face {font-family: gent; src: url(GentiumPlus401.woff2); font-style: italic; font-weight: normal;}
@font-face {font-family: gent; src: url(GentiumBookPlus700.woff2); font-style: normal; font-weight: bold;}
@font-face {font-family: gent; src: url(GentiumBookPlus701.woff2); font-style: italic; font-weight: bold;}

body {
background: #ffffff; color: #334155; /*slate 700*/
font: 12pt/1.5 gent, sans-serif;
hyphens: auto;
margin: 0 auto; max-width: 40em; padding: 1em;
}

.kol2 {columns: 2;} .kol3 {columns: 3;}
.wys {margin: 1em 0;} .wys p {margin: 0; padding: 0 0 0 1em; text-indent: -1em;}

a:link, a:visited {color: #0ea5e9; text-decoration: underline;} /*sky 500*/
a:hover, a:active {color: #f43f5e; text-decoration: underline;} /*rose 500*/

figure {margin: 0;} figcaption {font-size: small; text-align: center;}

hr {margin: 1em 0;}

table {border-collapse: collapse; margin: 1em 0; table-layout: fixed; width: 100%;}
table, th, td {border: thin solid #cbd5e1; padding: 0.2em 0.5em;} /*slate 300*/
th {background: #f1f5f9;} /*slate 100*/

/* paleta kolorów
#be123c rose 700
#f43f5e rose 500
#b45309 amber 700
#f59e0b amber 500
#4d7c0f lime 700
#84cc16 lime 500
#0369a1 sky 700
#0ea5e9 sky 500
#334155 slate 700
#64748b slate 500
#cbd5e1 slate 300
#f1f5f9 slate 100
*/
